<!doctype html>
<html>
  <head>
    <%- include('../partials/head.ejs', { title: 'snap', bg: '#d4224f' }) %>
  </head>
  <body class="snap">
    <div class="wrapper wrapper--snap">
      <%- include('../partials/header.ejs', { menu }) %>
      <div id="gallery"><%- body %></div>
      <footer class="footer footer--wide">
        <%- include('../partials/social.ejs') %>
      </footer>
    </div>
    <div id="lightbox"></div>
    <script>
      window.__PRELOADED_STATE__ = <%- JSON.stringify(preloadedState) %>;
    </script>
    <script type="text/javascript" src="/manifest.js"></script>
    <script type="text/javascript" src="/vendor.js"></script>
    <script type="text/javascript" src="/snap.js"></script>
  </body>
</html>
